<% layout('layout') -%>
<style>
   .img-products {
        /* Gray border */
        border-radius: 4px;
        /* Rounded border */
        padding: 5px;
        /* Some padding */
        width: 290px;
        /* Set a small width */
        height: 550px;
    }
</style>
<div class="container">
    <% if (products.length == 0) { %>
        <div>
            <img src="/assets/no-item-found-here.png" alt="no-product-logo">
        </div>
    <% } else { %>
        
        <h4 class="display-4">Showing Products for <%= products[0].category.name %></h4>
        <hr>
        <div class="list-group">
        <% for (var i=0; i< products.length; i++) { %>
            <span class="list-group-item">
                <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid" src="<%= products[i].image %>" alt="">
                        </div>
                        <div class="col-md-6 caption">
                                <h6 class="display-4">
                                    <%= products[i].name %>
                                </h6>
                                <!-- <p class="category-product-page">
                                    <%= products[i].category.name %>
                                </p> -->
                                <p><i class="fas fa-rupee-sign"></i> <strong class="product-heading"><%= products[i].price %></strong>
                                </p>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-sm btn-outline-info" href="/product/<%= products[i]._id %>">Show More</a>
                        </div>
                        
                </div>
                
            </span>
            <% } %>
        </div>
        <% } %>
</div>